<ion-header>
  <ion-toolbar>
    <ion-title>
      Editar Usuario
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
    <ion-list lines="full">
      <ion-item>
        <ion-label position="stacked">Nombre</ion-label>
        <ion-input type="text" formControlName="name" aria-label="name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Descripción</ion-label>
        <ion-input formControlName="description" aria-label="description"></ion-input>
      </ion-item>

    </ion-list>

    <ion-row class="ion-justify-content-center">
      <ion-col size="6">
        <ion-button type="submit" expand="block">
          Agregar proyecto
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
